.title {
  width: 8vw;
  height: 25vh;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 30px 30px 0px;
}

.title > .logo {
  font-family: "Rampart One", cursive;
  font-size: 3.2rem;
  padding-bottom: 0.5rem;
  writing-mode: vertical-lr;
}
